* {
  outline: 2px solid red;
}

body {text-align: center;background-color: rgb(50, 245, 180); font-family: monospace; }
.img-one {
  position: absolute;
  margin: 50px -240px 25px;
  width: 150px;
border-top: 11px solid rgb(138, 102, 102); 
    border-radius: 5%;
border-bottom: 2px solid rgb(219, 107, 107); 
border-left: 2px solid rgb(116, 67, 67);
border-right: 250px solid rgb(168, 85, 85);}

ul {;margin: 120px;
    font-weight: bold;
    width: 400px; 
    
    ;
    border-top: 11px solid black; 
    border-radius: 5%;
border-bottom: 2px solid black; 
border-left: 2px solid black;
border-right: 2px solid black;}
